<nav
  class="navbar navbar-expand-sm bg-primary fixed-top"
  style="margin-bottom: 100px"
>
  <div class="container-fluid bg-primary text-light-emphasis">
    <a class="navbar-brand text-white fs-3" href="/welcome">Bienvenido</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto d-flex gap-2 align-items-center">
        <li class="nav-item">{{ user?.firstName }}</li>
        <li class="nav-item">{{ user?.lastName }}</li>

        <li class="nav-item">
          <a
            class="nav-link text-white"
            aria-current="page"
            [routerLink]="['/facade-user']"
            style="cursor: pointer"
            >Mi Perfil</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link text-white"
            aria-current="page"
            (click)="logout()"
            style="cursor: pointer"
            >Cerrar Sesión</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
